.jumbotron{
    background-color: darkseagreen;
    color: black;
}

footer{
    padding: 10px 10px 0 10px ;
    background-color: darkseagreen;
    margin-bottom: 0%;
}

.btn {
    background-color: royalblue;
}

.card-hotel {
    flex: 1 280px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px
}
